.btn-contact {
    display: inline-block;
    padding: 10px 20px;
    background-color: #af3a57;
    color: #FFFFFF;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s all;
    width: 80%;
    margin-top: 15px;
}

.btn-contact:hover {
    background-color: #e40e44;
    transform: scale(1.1); 
}