form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 2%;
    font-weight: bold;
    letter-spacing: 0.1rem;
    box-shadow: 0px 5px 15px #d3d3d3;
    width: 300px;
}

label {
    margin-right: 5px;
    font-size: 1.2rem;
    color: #ffffff;
}

.form-input input {
    margin-left: 5px;
    font-size: 16px;
    outline: auto;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin-bottom: 4px;
    font-weight: bold;
    background-color: #d3d3d3;

}
